name: checks
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt-get update -y
      - run: sudo apt-get install -y python3-pip python3-setuptools
      - run: sudo pip3 install black pyflakes
      - run: make format-check
      - run: make lint
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          # test on Fedora Rawhide
          - fedora:rawhide
          # test on the latest stable release of Fedora
          - fedora:latest
          # test on the stable release of Centos 8
          - centos:centos8
    container:
      image: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@v2
      - run: rpm -q python3 || dnf install --nogpgcheck -y python3
      - run: rpm -q git || dnf install --nogpgcheck -y git
      - run: python3 -m unittest -v tests/test_unit.py
